/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    line-height: 1.6;
    padding: 0 10px;
}
/* Estilizando o (menu) */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Estilizando o conteúdo principal */
main {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

/* Estilo para o campo de input */
input[type="number"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

/* Estilo para o botão */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* Estilo para o resultado */
#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Estilizando o rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
}

/* Responsividade: ajuste para telas menores */
@media (max-width: 600px) {
    input[type="number"] {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
